data/ALL.chr21.integrated_phase1_v3.20101123.snps_indels_svs.genotypes.vcf
data/ALL.chr22.phase1_release_v3.20101123.snps_indels_svs.genotypes.vcf
data/ALL.chr22.phase1_release_v3.20101123.snps_indels_svs.genotypes.vcf.gz
data/ALL.chr22.phase1_release_v3.20101123.snps_indels_svs.genotypes.vcf.idx
data/SRR062634_1.filt.fastq
data/SRR062634_2.filt.fastq
data/chr21.fa.gz
data/chr21_2.fa.gz
picard-tools-1.114/picard-tools-1.114/AddCommentsToBam.jar
picard-tools-1.114/picard-tools-1.114/AddOrReplaceReadGroups.jar
picard-tools-1.114/picard-tools-1.114/BamIndexStats.jar
picard-tools-1.114/picard-tools-1.114/BamToBfq.jar
picard-tools-1.114/picard-tools-1.114/BuildBamIndex.jar
picard-tools-1.114/picard-tools-1.114/CalculateHsMetrics.jar
picard-tools-1.114/picard-tools-1.114/CheckIlluminaDirectory.jar
picard-tools-1.114/picard-tools-1.114/CleanSam.jar
picard-tools-1.114/picard-tools-1.114/CollectAlignmentSummaryMetrics.jar
picard-tools-1.114/picard-tools-1.114/CollectGcBiasMetrics.jar
picard-tools-1.114/picard-tools-1.114/CollectInsertSizeMetrics.jar
picard-tools-1.114/picard-tools-1.114/CollectMultipleMetrics.jar
picard-tools-1.114/picard-tools-1.114/CollectRnaSeqMetrics.jar
picard-tools-1.114/picard-tools-1.114/CollectTargetedPcrMetrics.jar
picard-tools-1.114/picard-tools-1.114/CollectWgsMetrics.jar
picard-tools-1.114/picard-tools-1.114/CompareSAMs.jar
picard-tools-1.114/picard-tools-1.114/CreateSequenceDictionary.jar
picard-tools-1.114/picard-tools-1.114/DownsampleSam.jar
picard-tools-1.114/picard-tools-1.114/EstimateLibraryComplexity.jar
picard-tools-1.114/picard-tools-1.114/ExtractIlluminaBarcodes.jar
picard-tools-1.114/picard-tools-1.114/ExtractSequences.jar
picard-tools-1.114/picard-tools-1.114/FastqToSam.jar
picard-tools-1.114/picard-tools-1.114/FilterSamReads.jar
picard-tools-1.114/picard-tools-1.114/FixMateInformation.jar
picard-tools-1.114/picard-tools-1.114/GatherBamFiles.jar
picard-tools-1.114/picard-tools-1.114/IlluminaBasecallsToFastq.jar
picard-tools-1.114/picard-tools-1.114/IlluminaBasecallsToSam.jar
picard-tools-1.114/picard-tools-1.114/IntervalListTools.jar
picard-tools-1.114/picard-tools-1.114/MakeSitesOnlyVcf.jar
picard-tools-1.114/picard-tools-1.114/MarkDuplicates.jar
picard-tools-1.114/picard-tools-1.114/MarkIlluminaAdapters.jar
picard-tools-1.114/picard-tools-1.114/MeanQualityByCycle.jar
picard-tools-1.114/picard-tools-1.114/MergeBamAlignment.jar
picard-tools-1.114/picard-tools-1.114/MergeSamFiles.jar
picard-tools-1.114/picard-tools-1.114/MergeVcfs.jar
picard-tools-1.114/picard-tools-1.114/NormalizeFasta.jar
picard-tools-1.114/picard-tools-1.114/QualityScoreDistribution.jar
picard-tools-1.114/picard-tools-1.114/ReorderSam.jar
picard-tools-1.114/picard-tools-1.114/ReplaceSamHeader.jar
picard-tools-1.114/picard-tools-1.114/RevertOriginalBaseQualitiesAndAddMateCigar.jar
picard-tools-1.114/picard-tools-1.114/RevertSam.jar
picard-tools-1.114/picard-tools-1.114/SamFormatConverter.jar
picard-tools-1.114/picard-tools-1.114/SamToFastq.jar
picard-tools-1.114/picard-tools-1.114/SortSam.jar
picard-tools-1.114/picard-tools-1.114/SplitVcfs.jar
picard-tools-1.114/picard-tools-1.114/ValidateSamFile.jar
picard-tools-1.114/picard-tools-1.114/VcfFormatConverter.jar
picard-tools-1.114/picard-tools-1.114/ViewSam.jar
picard-tools-1.114/picard-tools-1.114/htsjdk-1.114.jar
picard-tools-1.114/picard-tools-1.114/libIntelDeflater.so
picard-tools-1.114/picard-tools-1.114/picard-1.114.jar
picard-tools-1.114/snappy-java-1.0.3-rc3.jar
GenomeAnalysisTK-3.1-1/GenomeAnalysisTK.jar
GenomeAnalysisTK-3.1-1/resources/CheckPileup.java
GenomeAnalysisTK-3.1-1/resources/CountLoci.java
GenomeAnalysisTK-3.1-1/resources/CountReads.java
GenomeAnalysisTK-3.1-1/resources/Pileup.java
GenomeAnalysisTK-3.1-1/resources/PrintReads.java
GenomeAnalysisTK-3.1-1/resources/exampleBAM.bam
GenomeAnalysisTK-3.1-1/resources/exampleBAM.bam.bai
GenomeAnalysisTK-3.1-1/resources/exampleFASTA.dict
GenomeAnalysisTK-3.1-1/resources/exampleFASTA.fasta
GenomeAnalysisTK-3.1-1/resources/exampleFASTA.fasta.fai
bwa-0.7.9a/COPYING
bwa-0.7.9a/ChangeLog
bwa-0.7.9a/Makefile
bwa-0.7.9a/NEWS.md
bwa-0.7.9a/QSufSort.c
bwa-0.7.9a/QSufSort.h
bwa-0.7.9a/QSufSort.o
bwa-0.7.9a/README.md
bwa-0.7.9a/bamlite.c
bwa-0.7.9a/bamlite.h
bwa-0.7.9a/bamlite.o
bwa-0.7.9a/bntseq.c
bwa-0.7.9a/bntseq.h
bwa-0.7.9a/bntseq.o
bwa-0.7.9a/bwa
bwa-0.7.9a/bwa-helper.js
bwa-0.7.9a/bwa.1
bwa-0.7.9a/bwa.c
bwa-0.7.9a/bwa.h
bwa-0.7.9a/bwa.o
bwa-0.7.9a/bwamem.c
bwa-0.7.9a/bwamem.h
bwa-0.7.9a/bwamem.o
bwa-0.7.9a/bwamem_extra.c
bwa-0.7.9a/bwamem_extra.o
bwa-0.7.9a/bwamem_pair.c
bwa-0.7.9a/bwamem_pair.o
bwa-0.7.9a/bwape.c
bwa-0.7.9a/bwape.o
bwa-0.7.9a/bwase.c
bwa-0.7.9a/bwase.h
bwa-0.7.9a/bwase.o
bwa-0.7.9a/bwaseqio.c
bwa-0.7.9a/bwaseqio.o
bwa-0.7.9a/bwt.c
bwa-0.7.9a/bwt.h
bwa-0.7.9a/bwt.o
bwa-0.7.9a/bwt_gen.c
bwa-0.7.9a/bwt_gen.o
bwa-0.7.9a/bwt_lite.c
bwa-0.7.9a/bwt_lite.h
bwa-0.7.9a/bwt_lite.o
bwa-0.7.9a/bwtaln.c
bwa-0.7.9a/bwtaln.h
bwa-0.7.9a/bwtaln.o
bwa-0.7.9a/bwtgap.c
bwa-0.7.9a/bwtgap.h
bwa-0.7.9a/bwtgap.o
bwa-0.7.9a/bwtindex.c
bwa-0.7.9a/bwtindex.o
bwa-0.7.9a/bwtsw2.h
bwa-0.7.9a/bwtsw2_aux.c
bwa-0.7.9a/bwtsw2_aux.o
bwa-0.7.9a/bwtsw2_chain.c
bwa-0.7.9a/bwtsw2_chain.o
bwa-0.7.9a/bwtsw2_core.c
bwa-0.7.9a/bwtsw2_core.o
bwa-0.7.9a/bwtsw2_main.c
bwa-0.7.9a/bwtsw2_main.o
bwa-0.7.9a/bwtsw2_pair.c
bwa-0.7.9a/bwtsw2_pair.o
bwa-0.7.9a/example.c
bwa-0.7.9a/fastmap.c
bwa-0.7.9a/fastmap.o
bwa-0.7.9a/is.c
bwa-0.7.9a/is.o
bwa-0.7.9a/kbtree.h
bwa-0.7.9a/khash.h
bwa-0.7.9a/kopen.c
bwa-0.7.9a/kopen.o
bwa-0.7.9a/kseq.h
bwa-0.7.9a/ksort.h
bwa-0.7.9a/kstring.c
bwa-0.7.9a/kstring.h
bwa-0.7.9a/kstring.o
bwa-0.7.9a/ksw.c
bwa-0.7.9a/ksw.h
bwa-0.7.9a/ksw.o
bwa-0.7.9a/kthread.c
bwa-0.7.9a/kthread.o
bwa-0.7.9a/kvec.h
bwa-0.7.9a/libbwa.a
bwa-0.7.9a/main.c
bwa-0.7.9a/main.o
bwa-0.7.9a/malloc_wrap.c
bwa-0.7.9a/malloc_wrap.h
bwa-0.7.9a/malloc_wrap.o
bwa-0.7.9a/pemerge.c
bwa-0.7.9a/pemerge.o
bwa-0.7.9a/qualfa2fq.pl
bwa-0.7.9a/utils.c
bwa-0.7.9a/utils.h
bwa-0.7.9a/utils.o
bwa-0.7.9a/xa2multi.pl
data/SRR062634_1.filt.fastq000000
data/SRR062634_1.filt.fastq000001
data/SRR062634_2.filt.fastq000000
data/SRR062634_2.filt.fastq000001
data/chr22.fa.gz
data/chr22_2.fa.gz
data/sequence.index
data/srr062634_meta.txt
samtools-0.1.19/.gitignore
samtools-0.1.19/AUTHORS
samtools-0.1.19/COPYING
samtools-0.1.19/ChangeLog.old
samtools-0.1.19/INSTALL
samtools-0.1.19/Makefile
samtools-0.1.19/Makefile.mingw
samtools-0.1.19/NEWS
samtools-0.1.19/bam.c
samtools-0.1.19/bam.h
samtools-0.1.19/bam2bcf.c
samtools-0.1.19/bam2bcf.h
samtools-0.1.19/bam2bcf_indel.c
samtools-0.1.19/bam2depth.c
samtools-0.1.19/bam_aux.c
samtools-0.1.19/bam_cat.c
samtools-0.1.19/bam_color.c
samtools-0.1.19/bam_endian.h
samtools-0.1.19/bam_import.c
samtools-0.1.19/bam_index.c
samtools-0.1.19/bam_lpileup.c
samtools-0.1.19/bam_mate.c
samtools-0.1.19/bam_md.c
samtools-0.1.19/bam_pileup.c
samtools-0.1.19/bam_plcmd.c
samtools-0.1.19/bam_reheader.c
samtools-0.1.19/bam_rmdup.c
samtools-0.1.19/bam_rmdupse.c
samtools-0.1.19/bam_sort.c
samtools-0.1.19/bam_stat.c
samtools-0.1.19/bam_tview.c
samtools-0.1.19/bam_tview.h
samtools-0.1.19/bam_tview_curses.c
samtools-0.1.19/bam_tview_html.c
samtools-0.1.19/bamshuf.c
samtools-0.1.19/bamtk.c
samtools-0.1.19/bcftools/Makefile
samtools-0.1.19/bcftools/README
samtools-0.1.19/bcftools/bcf.c
samtools-0.1.19/bcftools/bcf.h
samtools-0.1.19/bcftools/bcf.tex
samtools-0.1.19/bcftools/bcf2qcall.c
samtools-0.1.19/bcftools/bcftools
samtools-0.1.19/bcftools/bcfutils.c
samtools-0.1.19/bcftools/call1.c
samtools-0.1.19/bcftools/em.c
samtools-0.1.19/bcftools/fet.c
samtools-0.1.19/bcftools/index.c
samtools-0.1.19/bcftools/kfunc.c
samtools-0.1.19/bcftools/kmin.c
samtools-0.1.19/bcftools/kmin.h
samtools-0.1.19/bcftools/main.c
samtools-0.1.19/bcftools/mut.c
samtools-0.1.19/bcftools/prob1.c
samtools-0.1.19/bcftools/prob1.h
samtools-0.1.19/bcftools/vcf.c
samtools-0.1.19/bcftools/vcfutils.pl
samtools-0.1.19/bedcov.c
samtools-0.1.19/bedidx.c
samtools-0.1.19/bgzf.c
samtools-0.1.19/bgzf.h
samtools-0.1.19/bgzip.c
samtools-0.1.19/cut_target.c
samtools-0.1.19/errmod.c
samtools-0.1.19/errmod.h
samtools-0.1.19/examples/00README.txt
samtools-0.1.19/examples/Makefile
samtools-0.1.19/examples/bam2bed.c
samtools-0.1.19/examples/calDepth.c
samtools-0.1.19/examples/chk_indel.c
samtools-0.1.19/examples/ex1.fa
samtools-0.1.19/examples/ex1.sam.gz
samtools-0.1.19/examples/toy.fa
samtools-0.1.19/examples/toy.sam
samtools-0.1.19/faidx.c
samtools-0.1.19/faidx.h
samtools-0.1.19/kaln.c
samtools-0.1.19/kaln.h
samtools-0.1.19/khash.h
samtools-0.1.19/klist.h
samtools-0.1.19/knetfile.c
samtools-0.1.19/knetfile.h
samtools-0.1.19/kprobaln.c
samtools-0.1.19/kprobaln.h
samtools-0.1.19/kseq.h
samtools-0.1.19/ksort.h
samtools-0.1.19/kstring.c
samtools-0.1.19/kstring.h
samtools-0.1.19/misc/HmmGlocal.java
samtools-0.1.19/misc/Makefile
samtools-0.1.19/misc/ace2sam
samtools-0.1.19/misc/ace2sam.c
samtools-0.1.19/misc/bamcheck
samtools-0.1.19/misc/bamcheck.c
samtools-0.1.19/misc/blast2sam.pl
samtools-0.1.19/misc/bowtie2sam.pl
samtools-0.1.19/misc/export2sam.pl
samtools-0.1.19/misc/interpolate_sam.pl
samtools-0.1.19/misc/maq2sam-long
samtools-0.1.19/misc/maq2sam-short
samtools-0.1.19/misc/maq2sam.c
samtools-0.1.19/misc/md5.c
samtools-0.1.19/misc/md5.h
samtools-0.1.19/misc/md5fa
samtools-0.1.19/misc/md5fa.c
samtools-0.1.19/misc/md5sum-lite
samtools-0.1.19/misc/novo2sam.pl
samtools-0.1.19/misc/plot-bamcheck
samtools-0.1.19/misc/psl2sam.pl
samtools-0.1.19/misc/r2plot.lua
samtools-0.1.19/misc/sam2vcf.pl
samtools-0.1.19/misc/samtools.pl
samtools-0.1.19/misc/soap2sam.pl
samtools-0.1.19/misc/varfilter.py
samtools-0.1.19/misc/vcfutils.lua
samtools-0.1.19/misc/wgsim
samtools-0.1.19/misc/wgsim.c
samtools-0.1.19/misc/wgsim_eval.pl
samtools-0.1.19/misc/zoom2sam.pl
samtools-0.1.19/padding.c
samtools-0.1.19/phase.c
samtools-0.1.19/razf.c
samtools-0.1.19/razf.h
samtools-0.1.19/razip.c
samtools-0.1.19/sam.c
samtools-0.1.19/sam.h
samtools-0.1.19/sam_header.c
samtools-0.1.19/sam_header.h
samtools-0.1.19/sam_view.c
samtools-0.1.19/sample.c
samtools-0.1.19/sample.h
samtools-0.1.19/samtools
samtools-0.1.19/samtools.1
samtools-0.1.19/win32/xcurses.h
samtools-0.1.19/win32/zconf.h
samtools-0.1.19/win32/zlib.h
example_workflow/GATKw1212-A1-Opening2.pdf
example_workflow/GATKw1212-BP-1-Map_and_Dedup.pdf
example_workflow/GATKw1212-BP-2-Realignment.pdf
example_workflow/GATKw1212-BP-3-Base_recalibration.pdf
example_workflow/GATKw1212-BP-4-Compression.pdf
example_workflow/GATKw1212-BP-5-Variant_calling.pdf
solution03_variant-call_SRC.cf
data/1000G_omni2.5.b36.vcf
data/1000G_omni2.5.b36.vcf.gz
data/dbsnp_138.b36.vcf
data/dbsnp_138.b36.vcf.gz
data/hapmap_3.3.b36.vcf
data/hapmap_3.3.b36.vcf.gz
data/1000G_omni2.5.hg19.vcf
data/1000G_omni2.5.hg19.vcf.gz
data/dbsnp_138.hg19.vcf
data/dbsnp_138.hg19.vcf.gz
data/hapmap_3.3.hg19.vcf
data/hapmap_3.3.hg19.vcf.gz
